
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">{{projectName}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/list">Give us your car</a>
      </li>
      <div [style.display]="clickCounter >= 200 ? 'block' : 'none'">
        <!-- <ng-template [ngIf]="clickCounter >= 200" [ngIfElse]="none"> -->
                <p class="navbar-text success mx-auto text-center"  id="result" style="position: absolute; left:30vw; width:40vw; border: 2px solid white; background-color: yellow; color: red; font-weight: bold;" >You are VIP</p>
        <!-- </ng-template> -->
       <!--  <ng-template #none>
                <p> </p>
        </ng-template> -->
      </div>
          <button (click)="countClick()" class="btn btn-outline-success mx-2" type="submit">Donate 10€</button>
        <li class="navbar-text success mx-auto text-center" id="result">
          You donate {{clickCounter}} €</li>
     
    </ul>
    </div>
        
</nav>
